.formOnboarding {
    position: absolute;
/* width: 149.47px; */
height: 71px;
left: 211.6px;
top: 241px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 37.3684px;
line-height: 143.19%;
/* or 54px */

color: #166E82;
  }